In [72]:
import sqlite3

In [73]:
con = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [74]:
c = con.cursor()

In [75]:
# /* Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! */

In [76]:
c.execute('''
WITH tempCost (name, Cost) as
    (SELECT name,
        CASE
            WHEN m.memid = 0 THEN guestcost * slots
            WHEN m.memid != 0 THEN membercost * slots
        END AS Cost
    FROM Facilities, Members AS m, Bookings)
    SELECT name, SUM(Cost)
    FROM tempCost
    GROUP BY name;
''')

In [77]:
c.fetchall()

[('Badminton Court', 142460.5),
 ('Massage Room 1', 3465006.9999971204),
 ('Massage Room 2', 3465006.9999971204),
 ('Pool Table', 45955),
 ('Snooker Table', 45955),
 ('Squash Court', 1125897.5),
 ('Table Tennis', 45955),
 ('Tennis Court 1', 1608425),
 ('Tennis Court 2', 1608425)]

In [78]:
# /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [79]:
c.execute('''
SELECT m2.surname, m2.firstname, m.surname AS Recommended, m.firstname
FROM Members as m
JOIN Members as m2 ON m.memid = m2.recommendedby
ORDER BY m2.surname;
''')

In [80]:
c.fetchmany(5)

[('Bader', 'Florence', 'Stibbons', 'Ponder'),
 ('Baker', 'Anne', 'Stibbons', 'Ponder'),
 ('Baker', 'Timothy', 'Farrell', 'Jemima'),
 ('Boothe', 'Tim', 'Rownam', 'Tim'),
 ('Butters', 'Gerald', 'Smith', 'Darren')]

In [81]:
# /* Q12: Find the facilities with their usage by member, but not guests */

In [252]:
sql = '''
SELECT f.facid, f.name, SUM(slots)
FROM Bookings as b, Facilities as f
LEFT JOIN Facilities ON f.facid = b.facid
GROUP BY f.name
HAVING memid != 0
ORDER BY f.facid
;
'''
c.execute(sql)
c.fetchall()

[(0, 'Tennis Court 1', 19751),
 (1, 'Tennis Court 2', 19415),
 (2, 'Badminton Court', 18863),
 (3, 'Table Tennis', 15831),
 (4, 'Massage Room 1', 20423),
 (5, 'Massage Room 2', 11015),
 (6, 'Squash Court', 18023),
 (7, 'Snooker Table', 16455),
 (8, 'Pool Table', 16471)]

In [ ]:
# /* Q13: Find the facilities usage by month, but not guests */

In [275]:
c.execute('''
SELECT f.facid, f.name, SUM(slots), SUBSTRING(starttime, 6, 2) AS month
FROM Bookings as b, Facilities as f
LEFT JOIN Facilities ON f.facid = b.facid
GROUP BY month, f.name
HAVING memid != 0
ORDER BY f.facid
;
''')

In [276]:
c.fetchall()

[(0, 'Tennis Court 1', 3646, '07'),
 (0, 'Tennis Court 1', 6999, '08'),
 (1, 'Tennis Court 2', 3142, '07'),
 (1, 'Tennis Court 2', 7191, '08'),
 (2, 'Badminton Court', 2926, '07'),
 (2, 'Badminton Court', 6999, '08'),
 (3, 'Table Tennis', 2318, '07'),
 (3, 'Table Tennis', 5759, '08'),
 (4, 'Massage Room 1', 3598, '07'),
 (4, 'Massage Room 1', 7263, '08'),
 (5, 'Massage Room 2', 1678, '07'),
 (5, 'Massage Room 2', 3983, '08'),
 (6, 'Squash Court', 2798, '07'),
 (6, 'Squash Court', 6527, '08'),
 (7, 'Snooker Table', 2734, '07'),
 (7, 'Snooker Table', 5935, '08'),
 (8, 'Pool Table', 2422, '07'),
 (8, 'Pool Table', 5903, '08')]

In [277]:
con.commit()

In [278]:
con.close()